@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
    --hue: 215;
    --complement: calc(var(--hue) + 180);
    --analogous-left: calc(var(--hue) - 30);
    --analogous-right: calc(var(--hue) + 30);

    /*primary colours mainly for backgrounds*/
    --primary-lightest: hsl(var(--hue) 75% 92.5%);
    --primary-lighter: hsl(var(--hue) 75% 85%);
    --primary-light: hsl(var(--hue) 75% 77.5%);
    --primary-dark: hsl(var(--hue) 35% 20%);

    /*secondary colours for text*/
    --secondary-dark: hsl(var(--complement) 15% 15%);
    --secondary-light: hsl(var(--complement) 30% 90%);

    /*for links*/
    --accent-left: hsl(var(--analogous-left) 50% 35%);
    --accent-left-light: hsl(var(--analogous-left) 50% 85%);
    --accent-left-dark: hsl(var(--analogous-left) 50% 25%);

    /*for buttons*/
    --accent-right: hsl(var(--analogous-right) 40% 40%);
    --accent-right-light: hsl(var(--analogous-right) 40% 85%);
    --accent-right-dark: hsl(var(--analogous-right) 40% 30%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--primary-lighter);
}

input {
    border: 1px solid var(--primary-dark);
    background-color: var(--primary-lighter);
}

.form-input {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.login-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 4px;
    background-color: var(--primary-lighter);
}

.login-oauth form p {
    font-weight: bolder;
    font-size: 175%;
    text-align: center;
}

.submit-button {
    background-color: var(--accent-right);
    color: var(--accent-right-light);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.error {
    color: red;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-style {
    color: var(--accent-left);
    text-decoration: underline;
    font-size: 20px;
}

.link-style:hover{
    color: var(--accent-left-dark);
}

p {
    font-size: 18px;
}


.login-background {
    /*background-image: url("https://en.idei.club/uploads/posts/2023-06/thumbs/1687164636_en-idei-club-p-blue-technology-background-dizain-pinteres-53.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: var(--primary-lighter);
}

.registration-background {
    /*background-image: url("https://en.idei.club/uploads/posts/2023-06/thumbs/1687164636_en-idei-club-p-blue-technology-background-dizain-pinteres-53.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}


.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    /*width: fit-content;*/
    /*height: fit-content;*/
    padding: 2% 2% 20px 40px;
    border: 1px solid var(--primary-dark);
    border-radius: 20px;
    background-color: var(--primary-light);
    max-width: 700px;
}

.logo {
    width: 100%;
    max-width: 60%;
    max-height: 400px;
    padding: 20px;
}

.logo2 {
    width: 25%;
    max-width: 30%;
    max-height: 250px;
    /*padding: 20px;*/
}

.login-oauth {
    max-width: 80%;
    flex-grow: 1;
    padding-left: 2%;
    flex-wrap: wrap;
}

.container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* Style for the heading */
.container h1 {
    align-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

/* Style for inputs */
.container input,
.container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style for the Submit button */
.container input[type="submit"] {
    background-color: var(--accent-right);
    color: var(--accent-right-light);
    cursor: pointer;
    font-size: 15px;
}

.container input[type="submit"]:hover {
    background-color: var(--accent-right-dark);
}

.error-message {
    color: red;
    justify-content: center;
    margin-top: 10%;
}
.error-message-login {
    color: red;
    text-align: center;
}

.message{
    color: green;
}

.message {
    position: fixed;
    top: 4.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    color: antiquewhite;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
}

li a {
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-light);
    text-decoration: none;
}

/* Style for the navigation bar */
.header{
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

.IBM_SkillsBuild{
    cursor: pointer;
    font-size: 25px;
    color: var(--secondary-light);
    padding-right: 10px;
}

.navbar ul {
    list-style: none;
}
.navbar li a{
    color: var(--secondary-light);
}
.navbar li {
    display: inline-block;
    margin-right: 20px;
}
.navbar li a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px solid var(--accent-left-light);
    padding-bottom: 5px;
    color: var(--accent-left-light);
}

.navbar li a {
    transition: all 0.5s ease 0s;
}

/* Style for the course cards */
.courses{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 260px);
    gap: 20px;
    margin: 20px;
}

.card{
    width: 260px;
    background-color: var(--primary-light);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-details {
    display: flex;
    justify-content: center;
    text-align: center;
}

.course-details p {
    flex: 1 1 49.5%;
}

.course-details p.divider {
    flex: 1 1 1%;
}

.card img{
    width: 100%;
    height: auto;
}

.card h4{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card p{
    font-size: 14px;
    margin: 10px;
}

.card p.category {
    text-transform: uppercase;
    background-color: var(--primary-dark);
    color: var(--secondary-light);
    border-radius: 10px;
    display: inline;
    padding: 0 10px;
}

.card a, .button-enroll {
    color: var(--accent-right-light);
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    flex: auto;
    width: 100%;
}

.button-enroll {
    background-color: var(--accent-right);
}

.button-enroll:hover {
    background-color: var(--accent-right-dark); /* Change the background color on hover */
}

.card a{
    background-color: var(--accent-right);
    display: block;
    text-align: center;
    text-decoration: none;
}

.card a:hover {
    background-color: var(--accent-right-dark);
}
.card form button {
    color: var(--accent-right-light);
    background-color: var(--accent-right);
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    flex: auto;
    width: 100%;
}

.card button:hover {
    background-color: var(--accent-right-dark);
}

.buttons {
    display: flex;
}

/* Filter */
.filter_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.filter_container label {
    font-size: 25px;
    color: var(--secondary-dark);
    font-weight: normal;
}
.filter_container input{
    font-size: 19px;
    border-radius: 4px;
    background-color: var(--primary-light);
}
.filter_container select{
    font-size: 17px;
    border-radius: 4px;
    background-color: var(--primary-light);
}
.filter_container input[type="submit"] {
    font-size: 17px;
    background-color: var(--accent-right);
    color: var(--accent-right-light);
    cursor: pointer;
    border-radius: 4px;
    padding: 3px;
}

.filter_container input[type="submit"]:hover {
    background-color: var(--accent-right-dark);
}

.coursesBackground {
    background-color: var(--primary-lighter);
}

/* Welcome */
.Welcome{
    padding-top:10px ;
    padding-bottom:10px ;
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}

/* List Courses */
.list_courses {
    padding-top: 20px ;
    padding-bottom: 10px ;
    padding-left: 70px;
    font-size: 35px;
    font-weight: normal;
}
.message_container h2{
    text-align: center;
}

/* Course errors */
.course-error-message {
    color: red;
    font-size: 40px;
}

.course-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2%;
}

/* Registrations */
.registration form{
    width: 80%;
    max-width: 700px;
    padding: 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 8px;
    background-color: var(--primary-light);
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration h1{
    align-content: center;
    text-align: center;
    font-size: 50px;
    font-Weight: normal;
}

.registration h2 {
    font-weight: normal;
}

.registration input,
.registration textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid var(--primary-dark);
}

/* Style for the Submit button */
.registration input[type="submit"] {
    background-color: var(--accent-right);
    color: var(--accent-right-light);
    cursor: pointer;
    font-size: 22px;
}

/* Styling for the profile section */
.container-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100px + 65px);
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border: 1px solid var(--primary-dark);
    border-radius: 20px;
    background-color: var(--primary-light);
}


.container-profile h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 20px;
}

.container-profile form.registration {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 18px;
    background-color: var(--primary-light);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.container-profile form.registration h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.container-profile form.registration .submit-button {
    padding: 12px 20px;
    margin-top: 20px;
    width: auto;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.container-profile form.registration .submit-button:hover {
    background-color: var(--accent-right-dark);
}

.container-profile form.registration .form-input {
    width: auto;
    margin-bottom: 15px;
}

.container-profile form.registration input[type=text],
.container-profile form.registration input[type=email] {
    padding: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    width: 100%;
}

/*.container-profile form.registration input[type=text]:focus,*/
/*.container-profile form.registration input[type=email]:focus {*/
/*    border-color: var(--accent-left-dark);*/
/*}*/

.container-profile form.registration input[readonly] {
    background-color: var(--primary-lighter);
    color: var(--secondary-dark);
    cursor: not-allowed;
}

.container-profile form.registration label {
    font-weight: normal;
    margin-bottom: 5px;
}

.personal-info-image {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}


/* Style for confirmation box */
.confirmation-background {
    z-index: 1;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.confirmation-box {
    background-color: var(--primary-lighter);
    width: 500px;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirmation-box h4 {
    margin: 0;
    height: 50px;
    font-size: 24px;
    padding: 12px 20px;
    border-radius: 10px 10px 0 0;
    font-weight: normal;
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    border-bottom: 2px solid var(--primary-dark);
}

.confirmation-box p {
    padding: 6px 20px;
}

.confirmation-box form {
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px;
    background-color: var(--primary-light);
    border-radius: 0 0 10px 10px;
}

.confirmation-box button {
    margin-left: 10px;
    height: 35px;
    width: 70px;
    border-radius: 10px;
}

button.confirm {
    color: var(--accent-right-light);
    background-color: var(--accent-right);
}

button.cancel {
    background-color: var(--accent-left-light);
}

button.confirm:hover {
    background-color: var(--accent-right-dark);
}

button.cancel:hover {
    background-color: var(--accent-left);
}
